html, body {
    height: 100%;
    margin: 0;
}

.d-flex {
    display: flex !important;
}

.flex-column {
    flex-direction: column !important;
}

.min-vh-100 {
    min-height: 100vh !important;
}

.flex-grow-1 {
    flex-grow: 1 !important;
}

.mt-auto {
    margin-top: auto !important;
}

.portableHeader {
    z-index: 9999;
    background-color: white;
    position: sticky;
    top: 0;
    width: 100%;
    border-radius: 32px;
}

@media (max-width: 992px) {
    .portableHeader {
        display: none;
    }
    .MobileNav, .mobileHeader {
        display: block;
    }
    .MobileNav {
        position: fixed;
        z-index: 9999;
        bottom: 0;
        background-color: white;
        width: 100%;
        border-top: 1px solid black;
    }
}

@media (min-width: 992px) {
    .MobileNav, .mobileHeader {
        display: none;
    }
    .portableHeader {
        display: block;
    }
}

.border-black {
    border-color: black;
    border-width:0px 0px 0px 0px;
}
