<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="https://www.thymeleaf.org">
<meta http-equiv="content-language" content="ru">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>LootMarket - Политика cookie</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
    <link rel="icon" href="/static/favicon.ico" type="image/x-icon">
    <link rel="stylesheet" href="/static/CSS/SwitchLightDarkTheme.css">
    <link rel="stylesheet" href="/static/CSS/search.css">
    <link rel="stylesheet" href="/static/CSS/font.css">
    <link rel="stylesheet" href="/static/CSS/footer.css">
    <link rel="stylesheet" href="/static/CSS/politics.css">
    <link rel="stylesheet" href="/static/CSS/header.css">
</head>
<body class="d-flex flex-column min-vh-100" style="width:100%">
<header class="portableHeader">
    <div th:replace="~{blocks/PortableHeader :: Header}"></div>
</header>
<header class="mobileHeader">
    <div class="d-flex flex-wrap align-items-center justify-content-center mt-3">
        <a href="/" class="d-flex align-items-center text-white text-decoration-none">
            <img src="/static/icons/LogoLight.svg" alt="Logo">
        </a>
        <form class="search-container me-3 ms-3" role="search">
            <input type="search" class="form-control form-control-dark text-bg-dark search w-100" placeholder="Поиск валюты, игр и приложений" aria-label="Search">
        </form>
        <input type="checkbox" class="theme-checkbox ms-5 pb-2 mt-auto mb-auto">
    </div>
</header>
<main class="flex-grow-1">
    <div class="content-container">
        <h1>ПОЛИТИКА COOKIE</h1>
        <hr>
        <p>1. Политика использования файлов cookie (далее — «Политика») применяется в дополнение к общей Политике конфиденциальности (https://lootmarket.com/privacy-policy), которая распространяется на продукты и сервисы (далее — «Сервисы») сайта LootMarket (далее — «LootMarket») и на сайт, размещённый по адресу lootmarket.com (далее — «сайт»). Текущая версия доступна по адресу: https://lootmarket.com/cookie-policy.</p>

        <h2>ЧТО ТАКОЕ COOKIE И ДЛЯ ЧЕГО ИХ ИСПОЛЬЗУЕТ LOOTMARKET</h2>
        <p>2.1. Файлы cookie — это маленькие фрагменты данных с определённой (часто технической) информацией, которые сервер отправляет на ваше устройство, чтобы запомнить информацию о ваших предпочтениях. Данная информация используется Сайтом для анализа ваших действий и отображения Сайта в удобном для вас формате. Например, с помощью файла Cookie locale наш Сайт и прочие Сервисы предлагают вам просматривать информацию на том языке, которым вы обычно пользуетесь (или какой вы самостоятельно выбрали).</p>
        <p>2.2. При использовании файлов cookie LootMarket руководствуется нормами международного законодательства и законодательства ЕС, России, Украины и Грузии. В частности, данная политика соответствует нормам Федерального закона от 27.07.2006 N 152-ФЗ (ред. от 02.07.2021) «О персональных данных», Закону Украины о «Защите персональных данных», Закону Грузии «О защите персональных данных», а также закону ЕС 2016/679 (GDPR).</p>

        <h2>СТОРОННИЕ ФАЙЛЫ COOKIE И ПЕРИОД ХРАНЕНИЯ</h2>
        <p>3.1. Сторонние файлы cookie — это фрагменты данных с определённой информацией, которые могут запомнить и собирать информацию о ваших предпочтениях для сторонних сайтов и услуг, не связанных с нашим Сайтом. Использование этих файлов на нашем сайте позволяет нам и нашим партнёрам анализировать активность при использовании Сервисов. Мы не несём ответственности за нарушения закона со стороны сторонних ресурсов, услуг или сайтов.</p>
        <p>3.2. LootMarket использует сессионные файлы cookie, чтобы предоставить вам более удобное использование наших Сервисов. Например, при помощи файла cookie PHPSESSID, запоминаются ваши выборы во время авторизации в Сервисах и, например, при прохождении теста CAPTCHA. Срок действия сессионных файлов cookie истекает в конце сессии (когда вы закрываете страницу или окно браузера). Более подробно о сроках хранения и примерах использования различных файлов cookie описано в п.п.3.3. и п.п.4.1.3. данной Политики.</p>
        <p>3.3. При первом посещении Сервисов во всплывающем окне (либо с помощью другого технического решения) вам может быть предложено выбрать типы файлов cookie, которые будут записаны на вашем устройстве. Обратите внимание, что технические файлы cookie устанавливаются автоматически при загрузке страницы, если иное не указано в настройках вашего браузера. Если вы одобрили использование файлов cookie, но затем хотите поменять своё решение, вы можете воспользоваться нашим инструментом или удалить файлы самостоятельно с помощью функциональности вашего браузера.</p>
        <p>3.4. Некоторые типы файлов cookie могут сохраняться вне зависимости от вашего выбора, если эти файлы необходимы нам для соблюдения требований законодательства или выполнения обязательств по контракту, а также в других случаях, в рамках закона.</p>

        <h2>КАКИЕ ФАЙЛЫ COOKIE ИСПОЛЬЗУЕТ LOOTMARKET</h2>
        <p>4.1. Технические — необходимые для корректной работы сайта.</p>
        <p>4.1.2. Технические файлы cookie необходимы для правильной работы Сайта и предоставления полной функциональности Сервисов. Их отключение может привести к некорректной работе Сайта или Услуг.</p>
        <p>Примеры:</p>
        <p>4.1.3. «Locale» и «cy» — эти файлы cookie необходимы нам для того, чтобы запомнить ваш выбор касательно валюты и языка, на котором отображается наш Сайт и предоставляются Сервисы. Период хранения этих файлов cookie составляет 100 (сто) дней с момента записи.</p>
        <p>4.2. Аналитические и маркетинговые файлы cookie — опциональные файлы cookie.</p>
        <p>4.2.1. Данные файлы cookie позволяют нам анализировать эффективность работы нашего Сайта и Сервисов. Подобный анализ включает в себя методы статистического анализа, агрегированные данные, а также данные, которые собираются для целей маркетинга сторонними файлами cookie.</p>
        <p>Примеры:</p>
        <p>4.2.2. Инструмент веб-аналитики Яндекс.Метрика, который используется Яндексом и размещён на нашем сайте, позволяет нам собирать обезличенную информацию об источниках трафика, посещаемости сайта и оценивать эффективность рекламы. Для учёта посетителей Яндекс.Метрика использует анонимные идентификаторы браузеров, которые сохраняются в файлах cookie. Подробнее о файлах cookie Яндекс.Метрики можно прочитать на странице https://yandex.ru/support/metrica/general/cookie-usage.html.</p>
        <p>4.2.3. Инструмент веб-аналитики Google Analytics, который используется Google и размещён на нашем Сайте, позволяет нам собирать обезличенную информацию об источниках трафика, посещаемости сайта и оценивать эффективность рекламы. Для учёта посетителей Google Analytics использует анонимные идентификаторы браузеров, которые сохраняются в файлах cookie. Подробнее о файлах cookie Google Analytics можно прочитать на странице https://policies.google.com/technologies/partner-sites?hl=ru.</p>
        <p>4.3. Если вы используете несколько браузеров или компьютеров в разных местах, то убедитесь, что ваш выбор соответствует вашим предпочтением на каждом устройстве.</p>
        <p>4.4. Вы можете самостоятельно удалить все файлы cookie, которые хранятся на вашем браузере, с помощью стандартной функциональности браузера. Для каждого вида браузера существует отдельная процедура управления вашим выбором хранения файлов cookie.</p>
        <p>Microsoft Edge: https://support.microsoft.com/ru-ru/microsoft-edge/%D1%83%D0%B4%D0%B0%D0%BB%D0%B5%D0%BD%D0%B8%D0%B5-%D1%84%D0%B0%D0%B9%D0%BB%D0%BE%D0%B2-cookie-%D0%B2-microsoft-edge-63947406-40ac-c3b8-57b9-2a946a29ae09.</p>
        <p>Google Chrome: https://support.google.com/chrome/answer/95647?hl=ru&p=cpn_cookies.</p>
        <p>Mozilla Firefox: https://support.mozilla.org/ru/kb/udalenie-kukov-dlya-udaleniya-informacii-kotoruyu-.</p>
        <p>Apple Safari: https://support.apple.com/ru-ru/guide/safari/sfri11471/mac.</p>

        <h2>ОБЩИЕ ПОЛОЖЕНИЯ</h2>
        <p>5.1. Если эта Политика переведена на другой язык, и между двумя языковыми версиями этой политики существуют коллизии, то английская версия этой Политики, размещённая по адресу: https://lootmarket.com/cookie-policy, превалирует и считается главной.</p>

        <h2>ОБРАТНАЯ СВЯЗЬ</h2>
        <p>6.1. LootMarket приветствует ваши вопросы и предложения, касающиеся исполнения или изменения настоящей Политики. Пожалуйста, воспользуйтесь нашей формой обратной связи, размещённой по адресу. Вы также можете воспользоваться этой формой (и адресом электронной почты a@lootmarket.com) для направления запросов о реализации ваших прав или жалоб относительно некорректности вашей Персональной информации или незаконности её обработки.</p>
        <hr>
        <p>Дата вступления в силу: 2024-07-18</p>
        <p>Постоянная ссылка: https://lootmarket.com/cookie-policy</p>
    </div>
</main>
<nav class="MobileNav">
    <div th:replace="~{blocks/MobileHeader :: mobileHeader}"></div>
</nav>
<footer>
    <div th:replace="~{blocks/footer :: Footer}"></div>
</footer>

<script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
<script src="https://cdn.jsdelivr.com/npm/@popperjs/core@2.5.4/dist/umd/popper.min.js"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
<script src="/static/JS/search.js"></script>
</body>
</html>