<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="https://www.thymeleaf.org">
<meta http-equiv="content-language" content="ru">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>LootMarket - Политика конфиденциальности</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
    <link rel="icon" href="/static/favicon.ico" type="image/x-icon">
    <link rel="stylesheet" href="/static/CSS/SwitchLightDarkTheme.css">
    <link rel="stylesheet" href="/static/CSS/search.css">
    <link rel="stylesheet" href="/static/CSS/font.css">
    <link rel="stylesheet" href="/static/CSS/footer.css">
    <link rel="stylesheet" href="/static/CSS/politics.css">
    <link rel="stylesheet" href="/static/CSS/header.css">
</head>
<body class="d-flex flex-column min-vh-100" style="width:100%">
<header class="portableHeader">
    <div th:replace="~{blocks/PortableHeader :: Header}"></div>
</header>
<header class="mobileHeader">
    <div class="d-flex flex-wrap align-items-center justify-content-center mt-3">
        <a href="/" class="d-flex align-items-center text-white text-decoration-none">
            <img src="/static/icons/LogoLight.svg" alt="Logo">
        </a>
        <form class="search-container me-3 ms-3" role="search">
            <input type="search" class="form-control form-control-dark text-bg-dark search w-100" placeholder="Поиск валюты, игр и приложений" aria-label="Search">
        </form>
        <input type="checkbox" class="theme-checkbox ms-5 pb-2 mt-auto mb-auto">
    </div>
</header>
<main class="flex-grow-1">
    <div class="content-container">
        <h1>ПОЛИТИКА КОНФИДЕНЦИАЛЬНОСТИ</h1>
        <hr>
        <p>1. Настоящая политика конфиденциальности (далее — Политика) действует в отношении всей информации, включая персональные данные в понимании применимого законодательства (далее — «Персональная информация»), которую LootMarket может получить о вас в процессе использования вами любых сайтов, программ, продуктов и/или сервисов LootMarket (далее вместе — «Сервисы»), информацию о которых вы можете найти на сайте <a href="https://lootmarket.com">lootmarket.com</a> (далее – «Сайт») и других принадлежащих LootMarket сайтах (далее вместе — «Сайты»), а также в ходе исполнения LootMarket любых соглашений и договоров, заключённых с вами в связи с использованием вами Сервисов.</p>

        <h2>ОБЩИЕ ПОЛОЖЕНИЯ</h2>
        <p>2.1. LootMarket может также получать Персональную информацию от своих партнёров (далее — «Партнёры»), сайты, программы, продукты или сервисы которых вы используете. В таких случаях передача Персональной информации возможна только в случаях, установленных применимым законодательством, и осуществляется на основании специальных договоров между LootMarket и каждым из Партнёров.</p>

        <p>2.2. Пожалуйста, обратите внимание, что использование любого из Сайтов и/или Сервисов может регулироваться дополнительными условиями, которые могут вносить в настоящую Политику изменения и/или дополнения, и/или иметь специальные условия в отношении персональной информации, размещённые в соответствующих разделах документов для таких Сайтов и/или Сервисов. Обратите внимание на нашу <a href="https://lootmarket.com/pages/cookiePolicy">политику cookie</a> и наши <a href="https://lootmarket.com/pages/dsar">Принципы обработки запросов субъекта персональных данных</a>.</p>

        <p>2.3. При обработке персональных данных LootMarket руководствуется нормами международного законодательства и законодательства ЕС, России, Украины и Грузии. В частности, данная политика соответствует нормам Федерального закона от 27.07.2006 N 152-ФЗ (ред. от 02.07.2021) «О персональных данных», Закону Украины о «Защите персональных данных», Закону Грузии «О защите персональных данных», а также закону ЕС 2016/679 (GDPR).</p>

        <p>2.4. При внесении существенных изменений в Политику мы сообщим вам об этом. LootMarket также может попросить ваше согласие на продолжение обработки персональных данных, даже если вы давали подобное согласие до этого.</p>

        <p>2.5. LootMarket приветствует ваши вопросы и предложения, касающиеся исполнения или изменения настоящей Политики. Пожалуйста, воспользуйтесь нашей <a href="https://lootmarket.com/support/ticket">формой обратной связи</a>, размещённой по адресу: <a href="https://lootmarket.com/support/ticket">https://lootmarket.com/support/ticket</a>. Вы также можете воспользоваться этой формой (и адресом электронной почты <a href="mailto:a@lootmarket.com">a@lootmarket.com</a>) для направления запросов о реализации ваших прав или жалоб относительно некорректности вашей Персональной информации или незаконности её обработки.</p>

        <h2>КАКОВА ЦЕЛЬ ДАННОЙ ПОЛИТИКИ</h2>
        <p>3.1. Защита вашей Персональной информации и вашей конфиденциальности чрезвычайно важны для LootMarket. При использовании вами Сайтов и Сервисов LootMarket защищает и обрабатывает вашу Персональную информацию в строгом соответствии с применимым законодательством. Следуя нашим обязанностям защищать вашу Персональную информацию, в этой Политике мы хотели бы наиболее прозрачно проинформировать вас о следующих моментах:</p>

        <h2>ТОРГОВАЯ ИНФОРМАЦИЯ И ЗАКАЗЫ</h2>
        <p>3.2.1. Любые персональные данные, которые вы предоставляете нам и/или другим пользователям нашего Сайта, когда оформляете заказ, отвечаете на сообщение, принимаете условия заказа, обсуждаете детали транзакции и/или совершаете прочие действия, связанные с торговыми услугами и Сервисами на нашем Сайте. Примерами данных, которые мы собираем, могут быть следующие данные, включая, но не ограничиваясь: данные вашей учётной записи, информация, необходимая для доступа в личный кабинет, адрес электронной почты.</p>

        <h2>РЕГИСТРАЦИЯ И ИСПОЛЬЗОВАНИЕ ФОРМ</h2>
        <p>3.3.1. Персональная информация, предоставленная вами при регистрации (создании учётной записи), заполнении форм (форма обратной связи), обращении в службу поддержки. Например: ваше имя, адрес IP, адрес электронной почты, файлы cookie.</p>

        <h2>ДАННЫЕ И КОНТЕНТ, ХРАНЯЩИЕСЯ В СИСТЕМАХ LOOTMARKET</h2>
        <p>3.4.1. Информация о вашей активности во время использования Сайтов и/или Сервисов. Например, данные о покупках в Сервисах, данные использования самих Сервисов, информация о взаимодействии с другими пользователями, а также файлы и контент, хранящиеся в системах LootMarket, включая ваши отзывы на сторонних сайтах и/или ресурсах, комментарии о качестве наших Служб и/или Сайта, а также любые данные, необходимые нам для успешного рассмотрения жалоб и работы службы арбитража.</p>

        <h2>РЕШЕНИЕ СПОРОВ</h2>
        <p>3.5.1. Успешное рассмотрение жалоб и корректная работа нашей службы арбитража очень важны для нас и нашей возможности предоставлять вам наши услуги. Поэтому нам может потребоваться определённый набор персональных данных для полноценного рассмотрения ваших жалоб или жалоб, которые могут вас касаться. LootMarket оставляет за собой право опубликовать и/или использовать отдельные типы персональных данных, необходимые для защиты своей предпринимательской репутации и репутации бренда.</p>

        <h2>ТЕХНИЧЕСКИЕ ДАННЫЕ И АНАЛИТИКА</h2>
        <p>3.6.1. Для подробного анализа и сбора технических данных LootMarket использует набор функций (включая файлы cookie), которые могут собирать ваши персональные данные. LootMarket также использует сторонние инструменты веб-аналитики для того, чтобы собирать информацию об источниках трафика, посещаемости сайта и оценки эффективности наших Служб. Например, мы используем: инструмент веб-аналитики Яндекс.Метрика, инструмент веб-аналитики Google Analytics. Типы персональных данных, которые мы собираем таким образом: дата и время осуществления доступа к Сайтам и/или Сервисам, электронные данные (HTTP-заголовки, IP-адрес, файлы cookie, данные об идентификаторе браузера и программном обеспечении).</p>

        <p>3.6.2. Для более подробной информации о том, как мы используем Яндекс.Метрику и Google Analytics обратите внимание на п.п.4.1. этой Политики, а также на п.п.4.2.2. и п.п.4.2.3. нашей <a href="https://lootmarket.com/pages/cookiePolicy">Политики cookie</a>.</p>

        <h2>ЧУВСТВИТЕЛЬНЫЕ ПЕРСОНАЛЬНЫЕ ДАННЫЕ</h2>
        <p>3.7.1. LootMarket не собирает целенаправленно чувствительную персональную информацию (такую как расовое происхождение, политические взгляды, информация о здоровье и биометрические данные), за исключением случаев, предусмотренных законом.</p>

        <h2>КТО ЕЩЁ ИМЕЕТ ДОСТУП К ВАШЕЙ ПЕРСОНАЛЬНОЙ ИНФОРМАЦИИ И КОМУ ОНА МОЖЕТ БЫТЬ ПЕРЕДАНА</h2>
        <p>4.1. LootMarket может передавать вашу Персональную информацию своим сотрудникам (в пределах, предусмотренных актуальным законодательством). LootMarket также может передавать вашу Персональную информацию своим аффилированным лицам, в том числе третьим лицам и службам, с которыми LootMarket сотрудничает. Обратите внимание, что уровень защиты Персональной информации в некоторых странах может не совпадать с уровнем, установленном в вашей юрисдикции, и, используя наши Сервисы и/или Сайт, вы соглашаетесь на такую передачу. К третьим лицам относятся: Яндекс.Метрика, Google Analytics, Zendesk, Freshdesk, Tome.</p>

        <p>4.2. LootMarket может получить некоторые данные от третьих лиц, которые могут потребоваться нам в рамках закона или для соблюдения обязательств по договору, например, ваши платёжные данные (маска платёжной карты).</p>

        <p>4.3. При обработке данных, полученных способом, что указан в п.п.4.1. LootMarket руководствуется нормами международного законодательства и законодательства ЕС, России, Украины и Грузии.</p>

        <h2>КАКОВА ПРАВОВАЯ ОСНОВА И ЦЕЛИ ОБРАБОТКИ ВАШЕЙ ПЕРСОНАЛЬНОЙ ИНФОРМАЦИИ</h2>
        <p>5.1. В дополнение к п.3. этой Политики, LootMarket обрабатывает вашу Персональную информацию только в том случае, если:</p>

        <p>5.1.1. Предоставление доступа к вашей учётной записи, включая настройки личного кабинета и прочие инструменты нашего Сайта.</p>

        <p>5.1.2. Обработка необходима для выполнения договорных обязательств LootMarket перед вами, включая обеспечение работы Сайтов и Сервисов.</p>

        <p>5.1.3. Обработка необходима для соблюдения установленных законодательством обязательств.</p>

        <p>5.1.4. Обработка необходима для достижения наших законных интересов (например, предотвращение мошенничества).</p>

        <p>5.2. LootMarket обрабатывает вашу Персональную информацию в течение периода, необходимого для достижения целей, указанных в этой Политике.</p>

        <p>5.3. В случае отзыва согласия на обработку вашей Персональной информации, LootMarket обязуется прекратить её обработку, за исключением случаев, предусмотренных законом.</p>

        <h2>ЗАКЛЮЧИТЕЛЬНЫЕ ПОЛОЖЕНИЯ</h2>
        <p>6.1. Любые вопросы и предложения, касающиеся исполнения и изменения данной Политики, направляйте нам через форму обратной связи на Сайте или на адрес электронной почты: <a href="mailto:a@lootmarket.com">a@lootmarket.com</a>.</p>

        <p>6.2. LootMarket вправе изменять и/или дополнять Политику в одностороннем порядке. Новая редакция Политики вступает в силу с момента её размещения на Сайте, если иное не предусмотрено новой редакцией Политики.</p>
        <hr>
        <p>Дата вступления в силу: 2024-07-18</p>
        <p>Постоянная ссылка: https://lootmarket.com/privacy-policy</p>
    </div>
</main>
<nav class="MobileNav">
    <div th:replace="~{blocks/MobileHeader :: mobileHeader}"></div>
</nav>
<footer>
    <div th:replace="~{blocks/footer :: Footer}"></div>
</footer>

<script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
<script src="https://cdn.jsdelivr.com/npm/@popperjs/core@2.5.4/dist/umd/popper.min.js"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
<script src="/static/JS/search.js"></script>
</body>
</html>