<div th:fragment="Footer">
    <footer class="footer">
        <div class="column">
            <h5>Способы оплаты</h5>
            <div class="payment-icons">
                <img src="/static/icons/visa.svg" alt="Visa">
                <img src="/static/icons/mastercard.svg" alt="MasterCard">
                <img src="/static/icons/mir.svg" alt="MIR">
                <img src="/static/icons/sbp.svg" alt="SBP">
                <img src="/static/icons/юmoney.svg" alt="ЮMoney">
                <img src="/static/icons/crypto.svg" alt="Crypto">
            </div>
        </div>
        <div class="column">
            <h5>Информация</h5>
            <div class="info">
                <div class="info-column">
                    <a href="/privacy-policy">Политика конфиденциальности</a>
                    <a href="/agreement">Пользовательское соглашение</a>
                </div>
                <div class="info-column">
                    <a href="/cookie-policy">Политика использования cookie</a>
                    <a href="/sale-terms">Условия продажи</a>
                </div>
            </div>
        </div>
        <div class="column">
            <h5>Контакты</h5>
            <div class="social-icons">
                <a href="https://vk.com" target="_blank"><img src="/static/icons/vk.svg" alt="VK"></a>
                <a href="https://telegram.org" target="_blank"><img src="/static/icons/telegram.svg" alt="Telegram"></a>
                <a href="https://discord.com" target="_blank"><img src="/static/icons/discord.svg" alt="Discord"></a>
                <a href="https://youtube.com" target="_blank"><img src="/static/icons/youtube.svg" alt="YouTube"></a>
            </div>
        </div>
        <div class="column support-button-container">
            <a href="#support" class="support-button">Написать в поддержку</a>
        </div>
        <div class="small-text">
            2024 © LootMarket — маркетплейс игровых товаров и услуг. Проект создан исключительно в учебных целях. Все материалы были взяты или позаимствованы исключительно в учебных целях.
        </div>
    </footer>
</div>