<!-- src/main/resources/templates/blocks/header.html -->
<div th:fragment="mobileHeader">
    <div class="d-flex flex-wrap align-items-center justify-content-between border border-black">
        <ul class="nav mb-2 justify-content-around mb-md-0 align-items-center w-100">
            <li class="nav-item d-flex flex-column align-items-center text-center">
                <a href="#" class="nav-link px-2 text-secondary d-flex flex-column align-items-center">
                    <img src="/static/icons/Sell.svg" class="mb-1" style="bottom:0"><span>Продать</span>
                </a>
            </li>
            <li class="nav-item d-flex flex-column align-items-center text-center">
                <a href="#" class="nav-link px-2 text-secondary d-flex flex-column align-items-center">
                    <img src="/static/icons/Chat.svg" class="mb-1" style="top:"><span>Чаты</span>
                </a>
            </li>
            <li class="nav-item d-flex flex-column align-items-center text-center">
                <a href="/dashboard" class="nav-link px-2 text-secondary d-flex flex-column align-items-center">
                    <img src="/static/icons/Profile.svg" class="mb-1"><span>Профиль</span>
                </a>
            </li>
        </ul>
    </div>
</div>
